@font-face {
    font-family: "Quicksand-VariableFont";
    src: url("/internal/webfonts/Quicksand-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("/internal/webfonts/Montserrat-VariableFont_wght.ttf");
}

html {
    height: 100%;
}
body {
    font-family: "Quicksand-VariableFont", "Noto Sans", sans-serif;
    font-size: 4.5mm;
    background: #ffffff;
    color: #202020;
    height: 100%;
    margin: 0px;
}

h1 {
    font-family: "Montserrat", "Roboto", "Noto Sans", sans-serif;
    font-size: 10mm;
}

h2 {
    font-family: "Montserrat", "Roboto", "Noto Sans", sans-serif;
    font-size: 8mm;
}

h3 {
    font-family: "Montserrat", "Roboto", "Noto Sans", sans-serif;
    font-size: 6mm;
}

a {
    color: #6d306f;
    text-decoration: none;
    font-weight: bold;
}

div#background {
    background-color: #dacaea;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

div#content {
    background-color: #ffffff33;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    padding: 0px 20px;
}

div#imageViewer {
    background-color: #000000dd;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 5;
    opacity: 0;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-out;
}

div#imageLabel {
    position: fixed;
    left: 0px;
    top: 10px;
    right: 0px;
    z-index: 10;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    opacity: 0.5;
    text-shadow: 1px 1px 2px #000;
}

img#focusImage {
    max-width: 100%;
    max-height: 100%;
}

div#loader {
    background-color: #000000dd;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 15;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.1s ease-out;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

